<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.mapper.IndexdetailMapper" >

    <resultMap id="BaseResultMap" type="com.yx.domain.Indexdetail" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="category_detail" property="category_detail" jdbcType="VARCHAR" />
        <result column="type_detail" property="type_detail" jdbcType="VARCHAR" />
        <result column="indexID" property="indexID" jdbcType="VARCHAR" />
        <result column="indexName" property="indexName" jdbcType="VARCHAR" />
        <result column="indexDetail" property="indexDetail" jdbcType="VARCHAR" />
        <result column="indexFormula" property="indexFormula" jdbcType="VARCHAR" />
        <result column="computingCycle" property="computingCycle" jdbcType="VARCHAR" />
        <result column="cycleUnit" property="cycleUnit" jdbcType="VARCHAR" />
        <result column="department" property="department" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="abateTime" property="abateTime" jdbcType="DATE" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, category_detail, type_detail, indexID, indexName, indexDetail, indexFormula, 
        computingCycle, cycleUnit, department, remark, abateTime
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yx.mapper.IndexdetailExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from indexdetail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from indexdetail
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from indexdetail
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.yx.mapper.IndexdetailExample" >
        delete from indexdetail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.yx.domain.Indexdetail" >
        insert into indexdetail (id, category_detail, type_detail, 
            indexID, indexName, indexDetail, 
            indexFormula, computingCycle, cycleUnit, 
            department, remark, abateTime
            )
        values (#{id,jdbcType=INTEGER}, #{category_detail,jdbcType=VARCHAR}, #{type_detail,jdbcType=VARCHAR}, 
            #{indexID,jdbcType=VARCHAR}, #{indexName,jdbcType=VARCHAR}, #{indexDetail,jdbcType=VARCHAR}, 
            #{indexFormula,jdbcType=VARCHAR}, #{computingCycle,jdbcType=VARCHAR}, #{cycleUnit,jdbcType=VARCHAR}, 
            #{department,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{abateTime,jdbcType=DATE}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.yx.domain.Indexdetail" >
        insert into indexdetail
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="category_detail != null" >
                category_detail,
            </if>
            <if test="type_detail != null" >
                type_detail,
            </if>
            <if test="indexID != null" >
                indexID,
            </if>
            <if test="indexName != null" >
                indexName,
            </if>
            <if test="indexDetail != null" >
                indexDetail,
            </if>
            <if test="indexFormula != null" >
                indexFormula,
            </if>
            <if test="computingCycle != null" >
                computingCycle,
            </if>
            <if test="cycleUnit != null" >
                cycleUnit,
            </if>
            <if test="department != null" >
                department,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="abateTime != null" >
                abateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="category_detail != null" >
                #{category_detail,jdbcType=VARCHAR},
            </if>
            <if test="type_detail != null" >
                #{type_detail,jdbcType=VARCHAR},
            </if>
            <if test="indexID != null" >
                #{indexID,jdbcType=VARCHAR},
            </if>
            <if test="indexName != null" >
                #{indexName,jdbcType=VARCHAR},
            </if>
            <if test="indexDetail != null" >
                #{indexDetail,jdbcType=VARCHAR},
            </if>
            <if test="indexFormula != null" >
                #{indexFormula,jdbcType=VARCHAR},
            </if>
            <if test="computingCycle != null" >
                #{computingCycle,jdbcType=VARCHAR},
            </if>
            <if test="cycleUnit != null" >
                #{cycleUnit,jdbcType=VARCHAR},
            </if>
            <if test="department != null" >
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="abateTime != null" >
                #{abateTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.yx.mapper.IndexdetailExample" resultType="java.lang.Integer" >
        select count(*) from indexdetail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update indexdetail
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.category_detail != null" >
                category_detail = #{record.category_detail,jdbcType=VARCHAR},
            </if>
            <if test="record.type_detail != null" >
                type_detail = #{record.type_detail,jdbcType=VARCHAR},
            </if>
            <if test="record.indexID != null" >
                indexID = #{record.indexID,jdbcType=VARCHAR},
            </if>
            <if test="record.indexName != null" >
                indexName = #{record.indexName,jdbcType=VARCHAR},
            </if>
            <if test="record.indexDetail != null" >
                indexDetail = #{record.indexDetail,jdbcType=VARCHAR},
            </if>
            <if test="record.indexFormula != null" >
                indexFormula = #{record.indexFormula,jdbcType=VARCHAR},
            </if>
            <if test="record.computingCycle != null" >
                computingCycle = #{record.computingCycle,jdbcType=VARCHAR},
            </if>
            <if test="record.cycleUnit != null" >
                cycleUnit = #{record.cycleUnit,jdbcType=VARCHAR},
            </if>
            <if test="record.department != null" >
                department = #{record.department,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null" >
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.abateTime != null" >
                abateTime = #{record.abateTime,jdbcType=DATE},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update indexdetail
        set id = #{record.id,jdbcType=INTEGER},
            category_detail = #{record.category_detail,jdbcType=VARCHAR},
            type_detail = #{record.type_detail,jdbcType=VARCHAR},
            indexID = #{record.indexID,jdbcType=VARCHAR},
            indexName = #{record.indexName,jdbcType=VARCHAR},
            indexDetail = #{record.indexDetail,jdbcType=VARCHAR},
            indexFormula = #{record.indexFormula,jdbcType=VARCHAR},
            computingCycle = #{record.computingCycle,jdbcType=VARCHAR},
            cycleUnit = #{record.cycleUnit,jdbcType=VARCHAR},
            department = #{record.department,jdbcType=VARCHAR},
            remark = #{record.remark,jdbcType=VARCHAR},
            abateTime = #{record.abateTime,jdbcType=DATE}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.yx.domain.Indexdetail" >
        update indexdetail
        <set >
            <if test="category_detail != null" >
                category_detail = #{category_detail,jdbcType=VARCHAR},
            </if>
            <if test="type_detail != null" >
                type_detail = #{type_detail,jdbcType=VARCHAR},
            </if>
            <if test="indexID != null" >
                indexID = #{indexID,jdbcType=VARCHAR},
            </if>
            <if test="indexName != null" >
                indexName = #{indexName,jdbcType=VARCHAR},
            </if>
            <if test="indexDetail != null" >
                indexDetail = #{indexDetail,jdbcType=VARCHAR},
            </if>
            <if test="indexFormula != null" >
                indexFormula = #{indexFormula,jdbcType=VARCHAR},
            </if>
            <if test="computingCycle != null" >
                computingCycle = #{computingCycle,jdbcType=VARCHAR},
            </if>
            <if test="cycleUnit != null" >
                cycleUnit = #{cycleUnit,jdbcType=VARCHAR},
            </if>
            <if test="department != null" >
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="abateTime != null" >
                abateTime = #{abateTime,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yx.domain.Indexdetail" >
        update indexdetail
        set category_detail = #{category_detail,jdbcType=VARCHAR},
            type_detail = #{type_detail,jdbcType=VARCHAR},
            indexID = #{indexID,jdbcType=VARCHAR},
            indexName = #{indexName,jdbcType=VARCHAR},
            indexDetail = #{indexDetail,jdbcType=VARCHAR},
            indexFormula = #{indexFormula,jdbcType=VARCHAR},
            computingCycle = #{computingCycle,jdbcType=VARCHAR},
            cycleUnit = #{cycleUnit,jdbcType=VARCHAR},
            department = #{department,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            abateTime = #{abateTime,jdbcType=DATE}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>