<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>yxDC</display-name>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>yxServlet</servlet-name>
		<servlet-class>com.yx.servlet.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>yxServlet</servlet-name>
		<url-pattern>/Init.action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>fileUploadServlet</servlet-name>
		<servlet-class>com.yx.fileService.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/fileUpload.action</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>reportServlet</servlet-name>
        <servlet-class>com.yx.servlet.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reportServlet</servlet-name>
        <url-pattern>/Report.action</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>detailExportServlet</servlet-name>
    <servlet-class>com.yx.fileService.DetailExportServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>detailExportServlet</servlet-name>
    <url-pattern>/Export.action</url-pattern>
</servlet-mapping>
</web-app>