<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.mapper.IndexdetailMapper" >

    <resultMap id="BaseResultMap" type="com.yx.po.Indexdetail" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="category_detail" property="categoryDetail" jdbcType="VARCHAR" />
        <result column="type_detail" property="typeDetail" jdbcType="VARCHAR" />
        <result column="indexID" property="indexid" jdbcType="VARCHAR" />
        <result column="indexName" property="indexname" jdbcType="VARCHAR" />
        <result column="indexDetail" property="indexdetail" jdbcType="VARCHAR" />
        <result column="indexFormula" property="indexformula" jdbcType="VARCHAR" />
        <result column="computingCycle" property="computingcycle" jdbcType="VARCHAR" />
        <result column="cycleUnit" property="cycleunit" jdbcType="VARCHAR" />
        <result column="department" property="department" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="abateTime" property="abatetime" jdbcType="DATE" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, category_detail, type_detail, indexID, indexName, indexDetail, indexFormula, 
        computingCycle, cycleUnit, department, remark, abateTime
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yx.po.IndexdetailExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from indexdetail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from indexdetail
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from indexdetail
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.yx.po.IndexdetailExample" >
        delete from indexdetail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.yx.po.Indexdetail" >
        insert into indexdetail (id, category_detail, type_detail, 
            indexID, indexName, indexDetail, 
            indexFormula, computingCycle, cycleUnit, 
            department, remark, abateTime
            )
        values (#{id,jdbcType=INTEGER}, #{categoryDetail,jdbcType=VARCHAR}, #{typeDetail,jdbcType=VARCHAR}, 
            #{indexid,jdbcType=VARCHAR}, #{indexname,jdbcType=VARCHAR}, #{indexdetail,jdbcType=VARCHAR}, 
            #{indexformula,jdbcType=VARCHAR}, #{computingcycle,jdbcType=VARCHAR}, #{cycleunit,jdbcType=VARCHAR}, 
            #{department,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{abatetime,jdbcType=DATE}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.yx.po.Indexdetail" >
        insert into indexdetail
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="categoryDetail != null" >
                category_detail,
            </if>
            <if test="typeDetail != null" >
                type_detail,
            </if>
            <if test="indexid != null" >
                indexID,
            </if>
            <if test="indexname != null" >
                indexName,
            </if>
            <if test="indexdetail != null" >
                indexDetail,
            </if>
            <if test="indexformula != null" >
                indexFormula,
            </if>
            <if test="computingcycle != null" >
                computingCycle,
            </if>
            <if test="cycleunit != null" >
                cycleUnit,
            </if>
            <if test="department != null" >
                department,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="abatetime != null" >
                abateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="categoryDetail != null" >
                #{categoryDetail,jdbcType=VARCHAR},
            </if>
            <if test="typeDetail != null" >
                #{typeDetail,jdbcType=VARCHAR},
            </if>
            <if test="indexid != null" >
                #{indexid,jdbcType=VARCHAR},
            </if>
            <if test="indexname != null" >
                #{indexname,jdbcType=VARCHAR},
            </if>
            <if test="indexdetail != null" >
                #{indexdetail,jdbcType=VARCHAR},
            </if>
            <if test="indexformula != null" >
                #{indexformula,jdbcType=VARCHAR},
            </if>
            <if test="computingcycle != null" >
                #{computingcycle,jdbcType=VARCHAR},
            </if>
            <if test="cycleunit != null" >
                #{cycleunit,jdbcType=VARCHAR},
            </if>
            <if test="department != null" >
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="abatetime != null" >
                #{abatetime,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.yx.po.IndexdetailExample" resultType="java.lang.Integer" >
        select count(*) from indexdetail
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update indexdetail
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.categoryDetail != null" >
                category_detail = #{record.categoryDetail,jdbcType=VARCHAR},
            </if>
            <if test="record.typeDetail != null" >
                type_detail = #{record.typeDetail,jdbcType=VARCHAR},
            </if>
            <if test="record.indexid != null" >
                indexID = #{record.indexid,jdbcType=VARCHAR},
            </if>
            <if test="record.indexname != null" >
                indexName = #{record.indexname,jdbcType=VARCHAR},
            </if>
            <if test="record.indexdetail != null" >
                indexDetail = #{record.indexdetail,jdbcType=VARCHAR},
            </if>
            <if test="record.indexformula != null" >
                indexFormula = #{record.indexformula,jdbcType=VARCHAR},
            </if>
            <if test="record.computingcycle != null" >
                computingCycle = #{record.computingcycle,jdbcType=VARCHAR},
            </if>
            <if test="record.cycleunit != null" >
                cycleUnit = #{record.cycleunit,jdbcType=VARCHAR},
            </if>
            <if test="record.department != null" >
                department = #{record.department,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null" >
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.abatetime != null" >
                abateTime = #{record.abatetime,jdbcType=DATE},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update indexdetail
        set id = #{record.id,jdbcType=INTEGER},
            category_detail = #{record.categoryDetail,jdbcType=VARCHAR},
            type_detail = #{record.typeDetail,jdbcType=VARCHAR},
            indexID = #{record.indexid,jdbcType=VARCHAR},
            indexName = #{record.indexname,jdbcType=VARCHAR},
            indexDetail = #{record.indexdetail,jdbcType=VARCHAR},
            indexFormula = #{record.indexformula,jdbcType=VARCHAR},
            computingCycle = #{record.computingcycle,jdbcType=VARCHAR},
            cycleUnit = #{record.cycleunit,jdbcType=VARCHAR},
            department = #{record.department,jdbcType=VARCHAR},
            remark = #{record.remark,jdbcType=VARCHAR},
            abateTime = #{record.abatetime,jdbcType=DATE}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.yx.po.Indexdetail" >
        update indexdetail
        <set >
            <if test="categoryDetail != null" >
                category_detail = #{categoryDetail,jdbcType=VARCHAR},
            </if>
            <if test="typeDetail != null" >
                type_detail = #{typeDetail,jdbcType=VARCHAR},
            </if>
            <if test="indexid != null" >
                indexID = #{indexid,jdbcType=VARCHAR},
            </if>
            <if test="indexname != null" >
                indexName = #{indexname,jdbcType=VARCHAR},
            </if>
            <if test="indexdetail != null" >
                indexDetail = #{indexdetail,jdbcType=VARCHAR},
            </if>
            <if test="indexformula != null" >
                indexFormula = #{indexformula,jdbcType=VARCHAR},
            </if>
            <if test="computingcycle != null" >
                computingCycle = #{computingcycle,jdbcType=VARCHAR},
            </if>
            <if test="cycleunit != null" >
                cycleUnit = #{cycleunit,jdbcType=VARCHAR},
            </if>
            <if test="department != null" >
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="abatetime != null" >
                abateTime = #{abatetime,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yx.po.Indexdetail" >
        update indexdetail
        set category_detail = #{categoryDetail,jdbcType=VARCHAR},
            type_detail = #{typeDetail,jdbcType=VARCHAR},
            indexID = #{indexid,jdbcType=VARCHAR},
            indexName = #{indexname,jdbcType=VARCHAR},
            indexDetail = #{indexdetail,jdbcType=VARCHAR},
            indexFormula = #{indexformula,jdbcType=VARCHAR},
            computingCycle = #{computingcycle,jdbcType=VARCHAR},
            cycleUnit = #{cycleunit,jdbcType=VARCHAR},
            department = #{department,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            abateTime = #{abatetime,jdbcType=DATE}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>